<ion-content [fullscreen]="true">
    <ion-item>
        <ion-label>Total</ion-label>
        <ion-label class="passif {{account.totalAccount > 0 ? 'positif':'negatif'}}" slot="end">{{(account? account.totalAccount:0) | currency
                :'CAD':'symbol-narrow':'1.2-2'
                }}</ion-label>
    </ion-item>

    <operation-list [operations]="operations.data" (onElementSelected)="onOperationSelected($event)"
        (onIonInfiniteScroll)="onIonInfiniteScroll($event)" [isMoreData]="operations.currentPage < operations.totalPage"
        (onDelete)="presentDeleteAlert($event)" [currBalFun]="currBalfun"></operation-list>

    <ion-modal [isOpen]="isCreateOpModalOpen">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button class="capitelize"
                            (click)="cancel()">{{'forms.operation.cancel' | translate}}</ion-button>
                    </ion-buttons>
                    <ion-title>{{'forms.operation.title' | translate}}</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="confirm()" [strong]="true">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <operation-form #operationForm [operation]="newOperation"
                    [accountType]="account.acountName"></operation-form>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>