<ion-header class="ion-no-border header-hissab">
    <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button color="menu-button">
                    <ion-icon name="reorder-four-sharp" color="menu-button" size="large"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title *ngIf="showTitle">
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>