.actif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
}

.actif.positif {
  background-color: rgb(166, 221, 203);
}

.actif.negatif {
  background-color: rgb(248, 161, 161);
}

.passif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
}

.depense {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
}

.depense.positif {
  background-color: rgb(166, 221, 203);
}

.depense.negatif {
  background-color: rgb(248, 161, 161);
}

.delete-confirm {
  background-color: red;
  .alert-title {
    display: inline-block;
    background-image: url(/assets/icon/warning.png);
    color: blue;
  }
}

ion-content {
  max-height: calc(100vh - 56px);
}
