<ion-content class="c-padding-top">



  <mat-vertical-stepper [linear]="true" #stepper labelPosition="bottom">
    <mat-step label="Accounts transaction" [optional]="false" [stepControl]="transferForm">

      <div style="padding-top: 3%;">
        <form [formGroup]="transferForm">
          <!-- <ng-template matStepLabel>Name</ng-template> -->
          <div class="example-form">

            <div class="example-full-width-field">

              <mat-card (click)="openModeprofile()" matRipple [class]="'card-profile' + ' ' + classeValideTransferFrom">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-subtitle>Profile</mat-card-subtitle>
                    <mat-card-title
                      *ngIf="currentProfile">{{currentProfile.firstName + ' ' + currentProfile.lastName }}</mat-card-title>

                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <div *ngIf="currentProfile" class="path">
                    {{currentProfile.mail}}
                  </div>

                  <div *ngIf="!currentProfile" class="path">
                    Veuiller selectionner un profile
                  </div>
                </mat-card-content>

              </mat-card>

            </div>

            <div class="example-full-width-field">

              <mat-card (click)="openMode('from')" matRipple [class]="'card-account' + ' ' + classeValideTransferFrom">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-subtitle>Transfer from</mat-card-subtitle>
                    <mat-card-title>{{defaultTransferFrom?.acountName}}</mat-card-title>
                    <div class="price">{{(defaultTransferFrom? defaultTransferFrom.balance  :0) | currency
                                                                          :'CAD':'symbol-narrow':'1.2-2'
                                                                          }}</div>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <div *ngIf="defaultTransferFrom" class="path">
                    {{defaultTransferFrom.path}}
                  </div>

                  <div *ngIf="!defaultTransferFrom" class="path">
                    Veuiller selectionner un compte
                  </div>
                </mat-card-content>

              </mat-card>
              <input type="hidden" formControlName="transferF">
              <input type="hidden" [value]="currentOperation.idAccount" required formControlName="idAccount">
            </div>


            <div class="example-full-width-field">
              <mat-card (click)="openMode('to')" matRipple [class]="'card-account' + ' '+classeValideTransferTo">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-subtitle>Transfer To</mat-card-subtitle>
                    <mat-card-title>{{defaultTransferTo?.acountName}}</mat-card-title>
                    <div class="price">
                      {{(defaultTransferTo? defaultTransferTo.balance  :0) | currency
                                                      :'CAD':'symbol-narrow':'1.2-2'
                                                      }}
                    </div>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  <div *ngIf="defaultTransferTo" class="path">
                    {{defaultTransferTo.path}}
                  </div>

                  <div *ngIf="!defaultTransferTo" class="path">
                    Veuiller selectionner un compte
                  </div>
                </mat-card-content>

              </mat-card>

              <input type="hidden" [value]="currentOperation.transfer" required formControlName="transfer">
            </div>


          </div>
          <button (click)="reset()" mat-raised-button color="accent" style="float: right;">RESET</button>
        </form>
      </div>

    </mat-step>

    <mat-step label="Transaction details" [stepControl]="operationForm" errorMessage="Name is required.">
      <div style="padding-top: 3%;">
        <form [formGroup]="operationForm">
          <!-- <ng-template matStepLabel>Name</ng-template> -->
          <mat-form-field class="example-full-width">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Date" readonly formControlName="time">

            <button id="open-leaf" mat-mini-fab matSuffix aria-label="Date" id="open-modal">
              <mat-icon color="primary">calendar_month</mat-icon>
            </button>
            <div *ngIf="isError1A()"
              class="mat-mdc-form-field-error mat-mdc-form-field-bottom-align ng-tns-c4048155087-65 ng-star-inserted">

              <div>enter a valid first account tranfer </div>
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>statut</mat-label>
            <mat-select formControlName="statut" name="statut">

              <mat-option value="r">
                effectif
              </mat-option>
              <mat-option value="s">
                waiting
              </mat-option>
            </mat-select>

            <div *ngIf="isError1A()"
              class="mat-mdc-form-field-error mat-mdc-form-field-bottom-align ng-tns-c4048155087-65 ng-star-inserted">

              <div>enter a valid first account tranfer </div>
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" formControlName="description">
            <mat-error *ngIf="operationForm.get('description')?.hasError('required')">
              Description is required!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Attachment</mat-label>
            <input matInput placeholder="Piece jointe" formControlName="attachment" readonly>
            <button id="piece" mat-mini-fab matSuffix aria-label="Attachment" (click)="isModalAttachmentOpen = true">
              <mat-icon color="primary">attach_file</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field *ngIf="showDebit()" class="example-full-width">
            <mat-label>{{'forms.operation.'+tranferCase+'.debit' | translate}}</mat-label>
            <input matInput type="number" formControlName="debit" placeholder="0" step="0.01"
              (change)="debitChanged($event)">
            <span class="prefix-currency" matTextPrefix>$&nbsp;</span>
            <mat-error *ngIf="operationForm.hasError('noMatch')">
              Debit and Credit can't be equal to 0 at same time
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" *ngIf="showCredit()">
            <mat-label>{{'forms.operation.'+tranferCase+'.credit' | translate}}</mat-label>
            <input matInput type="number" formControlName="credit" placeholder="0" step="0.01"
              (change)="creditChanged($event)">
            <span class="prefix-currency" matTextPrefix>$&nbsp;</span>
          </mat-form-field>
        </form>
      </div>
    </mat-step>

    <mat-step label="Resumé">
      <div>
        <form>
          <ion-list>
            <ion-item>


              <ion-textarea labelPlacement="stacked" readonly [autoGrow]="true" [value]="defaultTransferFrom?.path">
                <div class="account-label" slot="label">First account: </div>
              </ion-textarea>
            </ion-item>

            <ion-item>


              <ion-textarea for="accountFrom" labelPlacement="stacked" [autoGrow]="true" readonly
                [value]="currentOperation.transfer">
                <div class="account-label" slot="label">Second account: </div>
              </ion-textarea>
            </ion-item>

            <ion-item>


              <ion-input class="resume" labelPlacement="stacked" readonly [value]="getFormattedDate(
            this.currentOperation.time,
            'yyyy-MM-dd HH:mm:ss'
          )">
                <div class="account-label" slot="label">Date: </div>
              </ion-input>
            </ion-item>

            <ion-item>


              <ion-input class="resume" readonly labelPlacement="stacked" [value]="currentOperation.statut">
                <div class="account-label" slot="label">Statut: </div>
              </ion-input>
            </ion-item>

            <ion-item>

              <ion-textarea readonly labelPlacement="stacked" [value]="currentOperation.description">
                <div class="account-label" slot="label">Description: </div>
              </ion-textarea>
            </ion-item>
            <ion-item>

              <ion-input dir="rtl" labelPlacement="end" readonly [value]="currentOperation.debit | currency
                                :'CAD':'symbol-narrow':'1.2-2'
                                ">
                <div class="account-labelmount" slot="label">:Debit </div>
              </ion-input>
            </ion-item>
            <ion-item>

              <ion-input dir="rtl" labelPlacement="end" readonly [value]="currentOperation.credit | currency
                                          :'CAD':'symbol-narrow':'1.2-2'
                                          ">
                <div class="account-labelmount" slot="label">:Credit </div>
              </ion-input>
            </ion-item>
          </ion-list>

        </form>
      </div>
    </mat-step>
  </mat-vertical-stepper>




  <ion-modal trigger="open-modal">
    <ng-template>

      <ion-content class="ion-padding">
        <ion-datetime #datetime [showDefaultButtons]="true" (ionCancel)="cancel()"
          [value]="operation.time | dateHissab  " (ionChange)="onDateChange(datetime.value)"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal #modal [isOpen]="isModalOpen" *ngIf="!edit" [initialBreakpoint]=".85" [breakpoints]="[ 0.85]"
    (didDismiss)="searchText = ''" [backdropBreakpoint]="0.85">
    <ng-template>

      <ion-content>
        <ion-toolbar>
          <ion-title>{{modalTitle}}</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss(); isModalOpen = false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)" [(ngModel)]="searchText"
          (ionInput)="search($event)"></ion-searchbar>
        <ion-content>
          <ion-progress-bar *ngIf="progressShown" type="indeterminate" color="danger"></ion-progress-bar>

          <ion-list class="operation-details">
            <ion-radio-group [allowEmptySelection]="true"
              [value]="modalTitle === 'Transfer to' ? defaultTransferTo?defaultTransferTo.id:-5: defaultTransferFrom?defaultTransferFrom.id:-5"
              (ionChange)="onTransferChange($event)">
              <ion-item *ngFor="let item of leafsAccountFiltred" [id]="'item-leaf-'+item.id">
                <div>
                  <ion-label>{{item.acountName}}</ion-label>
                  <ion-label>{{item.path}}</ion-label>
                </div>

                <ion-radio slot="end" [value]="item.id"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-content>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalProfile [isOpen]="isModalProfileOpen">
    <ng-template>

      <profile-list-typehead class="ion-page" title="Favorite Fruits" [items]="items"
        [value]="currentProfile?currentProfile.mail:''"
        (selectionChange)="profileSelectionChanged($event); isModalProfileOpen = false;"
        (selectionCancel)="modalProfile.dismiss(); isModalProfileOpen = false"></profile-list-typehead>
    </ng-template>
  </ion-modal>

  <ion-modal #modalAttachement [isOpen]="isModalAttachmentOpen">
    <ng-template>

      <attachment class="ion-page" title="Attachment" (onAttachement)="onAttachementDone($event)"></attachment>
    </ng-template>
  </ion-modal>



</ion-content>