@use '@angular/material' as mat;

#leafBuutton {
  width: 100%;

  .transInput {
    width: 80%;
    float: left;
  }

  #open-leaf {
    float: right;
    width: 15%;
  }
}

ion-input {
  color: #ffffffde;
}

.operation-details {
  border: none;
  background: inherit;
}

p {
  font-family: Lato;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-bottom: 10px;
}

.example-full-width {
  width: 100%;
}

.example-full-width-field {
  width: 100%;
  padding: 5px 0px;

  .card-account-valide {
    border: 1px solid #09971c;
  }

  .card-account-invalide {
    border: 2px solid #cc0303;
    ;
  }
}





mat-horizontal-stepper {
  width: 100%;
  height: calc(100% - 60px);
}

.c-padding-top {
  --padding-top: 60px;
}

.form-tool {

  display: flow-root;
}

.resume-label {

  font-size: larger;
  font-weight: 700;
  color: #cfb6b6 !important;
}

.account-labelmount {
  font-size: large;
  font-weight: 700;
  color: #cfb6b6 !important;
}

ion-textarea {
  --color: #6c7d94
}

ion-input.resume {
  --color: #6c7d94 !important
}

.account-label {
  color: #fff9f9;
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 5px;

}



mat-label,
ion-label {
  text-transform: capitalize;
}

.card-account {
  min-height: 100px;

  .path {
    color: #cfb6b6;


  }

  .price {
    color: #cfb6b6;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #b6c2b2;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    float: right;
  }
}

.card-profile {
  mat-card-title {
    color: #cfb6b6;
  }

  mat-card-content {
    color: #cfb6b6;
  }
}