<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>

    <ion-title><ion-label class="capitelize">{{ currentAccount.acountName | translate }}
      </ion-label></ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" slot="end" (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon> </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <actif-view class="fill-height" (addOperationEmitter)="addOperationOrAccount($event)" [account]="currentAccount"
    [operations]="operations" [accountData]="accountsData" [page]="accountStore._currentPageOperation"
    [deleteOperationSubject]="accountStore._deleteOperationSubject"
    [isCreateOpModalOpen]="isCreateOpModalOpen && operations.data.length > 0"></actif-view>


  <ion-modal [isOpen]="isAccountModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button class="capitelize"
              (click)="modalAccount()">{{'forms.operation.cancel' | translate}}</ion-button>
          </ion-buttons>
          <ion-title>{{ 'forms.account.title' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmAccount()" [strong]="true">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">{{ 'forms.account.name' | translate }}</ion-label>
          <ion-input type="text" placeholder="{{ 'forms.account.placeholder' | translate }}"
            [(ngModel)]="nameAccount"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isCreateOpModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button class="capitelize" (click)="cancel()">{{'forms.operation.cancel' | translate}}</ion-button>
          </ion-buttons>
          <ion-title>{{'forms.operation.title' | translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <operation-form #operationForm [operation]="newOperation" [accountType]="currentAccount.type"
          [leafsAccount]="leafAccounts"></operation-form>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>