ion-item::part(native) {
  color: #ccc3c3;
  border-style: none;
  border-width: 0px;

  mat-icon {
    font-size: large;
  }


}



ion-item-divider {
  --background: #151a20;

  --color: #919491;


  --padding-bottom: 0px;
  --padding-start: 10px;
  --padding-end: 20px;
  font-size: large;
  font-weight: 800;
}

ion-item {
  &.first {
    margin-bottom: 20px;
  }

  &.no-border {
    --background: #151a20;
    --border-color: #151a20;
  }

  &.selected {
    --background: #1a2431;
    --border-color: #1a2431;
    font-weight: bold;
  }
}

.icon-size {
  font-size: 30px;
  height: 37px;
  width: 30px;
  margin-right: 12px;
}

ion-label {
  text-transform: capitalize;
}