<ion-content>
    <ion-list>
        <ion-item [class]="'first no-border ' + getSelectedClass('dash')">
            <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                fontIcon="dashboard"></mat-icon>
            <ion-label>
                DashBorad
            </ion-label>
        </ion-item>
        <ion-item-divider>
            <ion-label> Account </ion-label>
        </ion-item-divider>
        <ion-menu-toggle>
            <ion-item class="no-border" (click)="goto('/account/new')">

                <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="create_new_folder"></mat-icon>
                <ion-label>
                    New Account
                </ion-label>


            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item [class]="'no-border '" (click)="goto('/account/search')">
                <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="search"></mat-icon>
                <ion-label>
                    Search Accounts
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item-divider>
                <ion-label> Operations </ion-label>
            </ion-item-divider>
            <ion-item class="no-border" (click)="goto('/operation/new')">
                <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="create_new_folder"></mat-icon>
                <ion-label>
                    New Operation
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item class="no-border" (click)="goto('/operation/search')">
                <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="search"></mat-icon>
                <ion-label>
                    Search Operations
                </ion-label>
            </ion-item>

        </ion-menu-toggle>

        <ion-item (click)="goto('/rapport')">
            <mat-icon class="icon-size" aria-hidden="false">bar_chart</mat-icon>
            <ion-label> Reports </ion-label>
        </ion-item>


        <ion-item (click)="goto('/rappel')">
            <mat-icon class="icon-size" aria-hidden="false">event</mat-icon>
            <ion-label> Rappel </ion-label>
        </ion-item>

        <ion-item (click)="goto('/notification')">
            <mat-icon class="icon-size" aria-hidden="false">add_alert</mat-icon>
            <ion-label> Alert </ion-label>
        </ion-item>

        <ion-item-divider>
            <ion-label> Admin </ion-label>
        </ion-item-divider>
        <ion-menu-toggle>
            <ion-item class="no-border" (click)="goto('/profile')">
                <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="people"></mat-icon>
                <ion-label>
                    Profiles & Personnes
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item class="no-border" (click)="goto('/operation/search')">
                <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="card_membership"></mat-icon>
                <ion-label>
                    Abonnement
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item class="no-border" (click)="goto('/operation/new')">
                <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="translate"></mat-icon>
                <ion-label>
                    Langues
                </ion-label>
            </ion-item>
        </ion-menu-toggle>

        <ion-item (click)="goto('/support')">
            <mat-icon class="icon-size" aria-hidden="false">support</mat-icon>
            <ion-label> Support </ion-label>
        </ion-item>

    </ion-list>
</ion-content>