<ion-content>
    <ion-list>
        <ion-item [class]="'first no-border ' + getSelectedClass('dash')">
            <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <ion-label>
                DashBorad
            </ion-label>
        </ion-item>
        <ion-item-divider>
            <ion-label> Account </ion-label>
        </ion-item-divider>
        <ion-item class="no-border" (click)="goto('/account/new')">
            <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                fontIcon="create_new_folder"></mat-icon>
            <ion-label>
                New Account
            </ion-label>
        </ion-item>

        <ion-item [class]="'no-border '" (click)="goto('/account/search')">
            <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
            <ion-label>
                Search Accounts
            </ion-label>
        </ion-item>
        <ion-item-divider>
            <ion-label> Operations </ion-label>
        </ion-item-divider>
        <ion-item class="no-border" (click)="goto('/operation/new')">
            <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon"
                fontIcon="create_new_folder"></mat-icon>
            <ion-label>
                New Operation
            </ion-label>
        </ion-item>

        <ion-item class="no-border" (click)="goto('/operation/search')">
            <mat-icon class="icon-size" aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
            <ion-label>
                Search Operations
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>