<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancelChanges()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirmChanges()">Done</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionInput)="searchbarInput($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-radio-group (ionChange)="radioChange($event)" [value]="value">
        <ion-list id="modal-list" [inset]="true">
            <ion-item *ngFor="let item of filteredItems; trackBy: trackItems">
                <ion-radio [value]="item.mail">{{ item.lastName +' '+ item.firstName}}</ion-radio>

            </ion-item>
        </ion-list>
    </ion-radio-group>
</ion-content>