<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hissab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>
        Balance
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label slot="start">global</ion-label>
      <ion-label slot="end" style="float: right;">{{balanceAccount?balanceAccount.totalAccount:0}}</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let item of mainAccounts$ | async">
      <ion-label class="capitelize">{{ 'accounttype.'+item.acountName | translate }} </ion-label>
      <ion-label [class]="accountClass(item)" slot="end">{{(item? (item.totalAccount) * multiplyFor(item.type):0) | currency
                  :'CAD':'symbol-narrow':'1.2-2'
                  }}</ion-label>
      <a slot="end" fill="clear" [routerLink]="'/account/'+item.id">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </a>
    </ion-item>

  </ion-list>

</ion-content>