.passif.positif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(166, 221, 203);
}

.passif.negatif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(248, 161, 161);
}

.actif.positif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(166, 221, 203);
}

.actif.negatif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(248, 161, 161);
}

.income {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(226, 220, 220);
}

.depense.positif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(166, 221, 203);
}

.depense.negatif {
  border-radius: 8px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: rgb(248, 161, 161);
}
