<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button fill="clear" slot="end" id="menu-button" (click)="backNavigation()">
        <ion-icon name="arrow-back-sharp" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create new Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content class="container">
    <form [formGroup]="accountForm">
      <!-- <ng-template matStepLabel>Name</ng-template> -->
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Parent account name</mat-label>
          <input matInput type="text" readonly formControlName="accountName">
          <button id="open-leaf" mat-mini-fab matSuffix aria-label="Search" (click)="openMode()">
            <mat-icon color="primary">search</mat-icon>
          </button>
          <mat-error *ngIf="accountForm.get('accountName')?.hasError('required')">
            Enter a valid first account tranfer!
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Account path</mat-label>
          <textarea matInput placeholder="Account path" readonly formControlName="path" [disabled]="true"></textarea>
          <input type="hidden" readonly formControlName="idAccount">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>New account name</mat-label>
          <input matInput placeholder="New account name " formControlName="newAccountName" />
          <mat-error *ngIf="accountForm.get('newAccountName')?.hasError('required')">
            Enter a valid second account tranfer!
          </mat-error>
        </mat-form-field>

      </div>

    </form>
    <div class="ion-padding form-tool">
      <button mat-raised-button color="primary" style="float: right;" (click)="submit()">{{ 'SUBMIT'}}</button>
      <button (click)="accountForm.reset(); accountForm.markAsPristine()" mat-raised-button color="accent"
        style="float: right;">RESET</button>

    </div>
  </ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button fill="clear" slot="start" id="menu-button" (click)="gotHome()">

        <fa-icon icon="house"></fa-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>