ion-card-content {
  padding-top: 15px;
  display: contents;
}

ion-item {
  --padding-start: 5px;
  --inner-padding-end: 4px;
}

.line-op-main {
  width: 100%;
}

.top-title {
  text-align: center;
}

.detail-line {
  width: 50%;
  float: left;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.m-label {
  padding: 2pt;

  h2 {
    font-style: italic;
    text-transform: lowercase;

    font-weight: 600;
  }
}

.date-line {
  font-size: medium;
  font-weight: 600;
}

.total-line {
  text-align: right;
  float: right;
  width: 40%;

  .balance {
    width: 100%;

    ion-label {


      font-style: italic;
    }

    .balance-text {
      text-align: right;
      text-decoration: double;

      color: #a9adad;
    }
  }
}

.left-line {
  width: 60%;
  display: block;
  float: left;

  .title {
    font-size: larger;
    text-overflow: clip;
  }

  .date-line {
    color: #a9adad;
    font-weight: bold;
    font-size: small;
  }
}

.number-line {
  border-radius: 8px;
  padding: 4px;
  font-size: small;
  font-weight: 600;
  display: inline-block;

}

.actif.positif {
  background-color: #33804b;
}

.actif.negatif {
  background-color: #9c0b0b;
}

.passif.positif {
  background-color: #33804b;
}

.passif.negatif {
  background-color: #9c0b0b;
}

.depense.positif {
  background-color: #33804b;
}

.depense.negatif {
  background-color: #9c0b0b;
}

ion-card {
  width: 100%;
  background-color: #212934;
  margin: 4px 3px;
  box-shadow: none;
  padding: .5em;
}

.group-header {
  --background: none;
  --color: #d1ebd4;
}