<ion-header>
    <ion-toolbar>
        <ion-title>
            Support
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card button="true" (click)="onTicketTape()">
        <ion-card-header>
            <ion-card-title>Open ticket</ion-card-title>
            <ion-card-subtitle>open ticket with support</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-card button="true" href="support/patch">
        <ion-card-header>
            <ion-card-title>Apply Patch</ion-card-title>
            <ion-card-subtitle>Apply patch sent from hissab support</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-card button="true" href="support/auto-maintenance">
        <ion-card-header>
            <ion-card-title>Maintenance</ion-card-title>
            <ion-card-subtitle>Programme check and repear</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-card button="true" href="support/backup">
        <ion-card-header>
            <ion-card-title>Backup</ion-card-title>
            <ion-card-subtitle>Securise your data</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>