<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <profile-personnes-list></profile-personnes-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" slot="start" (click)="goToHome()" id="menu-button">
        <fa-icon icon="house"></fa-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" slot="start" (click)="addPersonne()" id="menu-button">
        <fa-icon icon="user-plus"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>