/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';
@import '@ionic/angular/css/display.css';


ion-alert.custom-alert {
  .alert-head {
    margin: 8px;
    background-image: url(/assets/icon/warning.png);
    background-size: 36px;
    background-repeat: no-repeat;
  }
}

ion-button {
  --color: #fff;
  color: #fff;
}

:host {
  --color: #fcfcfc;


}

ion-header::after {
  display: none;
}

ion-label {
  color: #fcfcfc;



}

.ltr-label {
  text-align: left;
}

.rtl-label {
  text-align: right;
}

button {
  span {
    text-transform: capitalize;
  }

}

.input-wrapper.sc-ion-input-md {
  .label-text-wrapper {
    text-align: left;
  }

}

/*
.custom-alert .alert-button-group {
    padding: 8px;
}

button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
    border-radius: 4px;
}

.ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
}

.ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
}*/

.capitelize {
  text-transform: capitalize;
}

ion-modal ion-toolbar {
  --background: #151a20;
  --color: white;
  color: white;
}




ion-header {
  --background: #151a20;
  ;

  ion-toolbar {
    --background: #151a20;
    ;
    --border-style: none;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    --border-style:
      none !important;
    --ion-color-base: transparent !important;
    --opacity-scale: 1;

    opacity: 1;

    ion-title {
      color: #fcfcfc;
    }

    ion-back-button {
      color: #fdf7dd;
    }

    ion-button {
      margin-right: 10px;

      fa-icon {
        color: #fdf7dd;
        font-size: 18pt;
      }
    }
  }

  &.header-md:after {
    background: none;
  }
}



ion-footer {
  --background: #151a20;
  ;

  ion-toolbar {
    --background: #151a20;
    --border-style: none;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    --border-style:
      none !important;
    --ion-color-base: transparent !important;
    --opacity-scale: 1;

    opacity: 1;

    ion-title {
      color: #fcfcfc;
    }

    ion-back-button {
      color: #fdf7dd;
    }

    ion-button {
      margin-right: 10px;

      fa-icon {
        color: #fdf7dd;
        font-size: 18pt;
      }
    }
  }

  &.header-md:after {
    background: none;
  }
}


ion-content {
  --background: #151a20;

  ::-webkit-scrollbar {
    display: none;
  }
}

ion-content.content {
  //display: contents;
  height: fit-content;
}

ion-item {
  --background: #151a20;


  ion-label {
    color: #eff6f1 !important;
  }

  fa-icon {
    color: #fdf7dd;
    font-size: 18pt;
  }

  ion-icon {
    color: #fdf7dd;
    font-size: 18pt;
  }
}

.list-md {
  background-color: #151a20;
}

.balance {
  border-radius: 3px;
  padding: 6px 5px 3px 8px;
  font-size: medium;
  font-weight: 600;

}

.uppercase-text {
  text-transform: capitalize;
}