<ion-menu [side]="side" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-avatar [slot]="side">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <main-menu [selectedRoute]='menuRoute$ | async'>
    </main-menu>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-content class="contentdd">
    <hissab-header title="DashBoard" [showTitle]="false"></hissab-header>

    <ion-list>
      <ion-item>

        <ion-select label="{{'actions.period' | traduction}}" label-placement="fixed" [value]="period$ | async "
          (ionChange)="onPeriodChange($event)" [interfaceOptions]="alertOptions" interface="alert">
          <ion-select-option value="month">Current month</ion-select-option>
          <ion-select-option value="cyear">Current year</ion-select-option>
          <ion-select-option value="global">All</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>



    <ion-card [class]=" globalBalance >=  0 ? 'positif':'negatif'">
      <ion-card-header>
        <ion-card-title>
          {{'pages.main.balance.balance' | traduction}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label class="uppercase-text" slot="start">{{getMonth() | traduction}}</ion-label>
        <ion-label slot="end" style="float: right;" class="uppercase-text">{{globalBalance| currency
      :'CAD':'symbol-narrow':'1.2-2'}}</ion-label>
      </ion-card-content>
    </ion-card>


    <ion-grid *ngIf="mainAccounts">
      <ion-row>
        <ion-col><mat-card class="dash-card" matRipple (click)="routeToAccount(mainAccounts[0]? mainAccounts[0].id:1)">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{mainAccounts[0]? mainAccounts[0].acountName:'' | traduction}}</mat-card-title>


              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <ion-label [class]="accountClass(mainAccounts[0])">{{(mainAccounts[0]? (mainAccounts[0].totalAccount) * multiplyFor(mainAccounts[0].type):1) | currency
                                :'CAD':'symbol-narrow':'1.2-2'
                                }}</ion-label>
            </mat-card-content>
          </mat-card></ion-col>
        <ion-col><mat-card class="dash-card" matRipple (click)="routeToAccount(mainAccounts[1]? mainAccounts[1].id:1)">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{mainAccounts[1]? mainAccounts[1].acountName:''| traduction}}</mat-card-title>


              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <ion-label [class]="accountClass(mainAccounts[1])">{{(mainAccounts[1]? (mainAccounts[1].totalAccount) * multiplyFor(mainAccounts[1].type):1) | currency
                                        :'CAD':'symbol-narrow':'1.2-2'
                                        }}</ion-label>
            </mat-card-content>
          </mat-card></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><mat-card class="dash-card" matRipple (click)="routeToAccount(mainAccounts[2]? mainAccounts[2].id:1)">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{mainAccounts[2]? mainAccounts[2].acountName:'' | traduction}}</mat-card-title>


              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <ion-label [class]="accountClass(mainAccounts[2])">{{(mainAccounts[2]? (mainAccounts[2].totalAccount) * multiplyFor(mainAccounts[2].type):1) | currency
                                        :'CAD':'symbol-narrow':'1.2-2'
                                        }}</ion-label>
            </mat-card-content>
          </mat-card></ion-col>
        <ion-col><mat-card class="dash-card" matRipple (click)="routeToAccount(mainAccounts[3]? mainAccounts[3].id:1)">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{mainAccounts[3]? mainAccounts[3].acountName:'' | traduction}}</mat-card-title>


              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <ion-label [class]="accountClass(mainAccounts[3])">{{(mainAccounts[3]? (mainAccounts[3].totalAccount) * multiplyFor(mainAccounts[3].type):1) | currency
                                        :'CAD':'symbol-narrow':'1.2-2'
                                        }}</ion-label>
            </mat-card-content>
          </mat-card></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <ion-button>
          fwefweoo
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>